{% extends 'base.html' %}
{% block title %}
Главная страница 
{% endblock %}

{% block body %}
<h1>Главаня страница</h1>\
<li>
    <loren5>sdfgsdfgsf</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsfdgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sfdgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsfdg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsfdg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5>sdfgsdfgsdfgsdfgsdfg</loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
<li>
    <loren5></loren5>
</li>
{% endblock %}