{% extends 'base.html' %}

{% block title %}
Главная страница 
{% endblock %}

{% block content %}
<h1>Главаня страница</h1>

<div class="mailbox-container ahh__aedc__r060l7" data-testid="mailbox">
    <div id="mailbox" class="mailbox ahh__aedc__r060l7 mailbox_auth"> 
        <div class="container ahh__aedc__vpo9ng">
            <div class="user ahh__aedc__vpo9ng">
                <div class="account ahh__aedc__vpo9ng" data-email="vovakotov9797@mail.ru">
                    <div class="avatar ahh__aedc__1v84nv1">
                        <img class="image ahh__aedc__1v84nv1" src="https://filin.mail.ru/pic?from=splash&amp;width=48&amp;height=48&amp;email=vovakotov9797%40mail.ru&amp;name=%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%20%D0%9A%D0%BE%D1%82%D0%BE%D0%B2" srcset="https://filin.mail.ru/pic?from=splash&amp;width=48&amp;height=48&amp;email=vovakotov9797%40mail.ru&amp;name=%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%20%D0%9A%D0%BE%D1%82%D0%BE%D0%B2, https://filin.mail.ru/pic?from=splash&amp;width=96&amp;height=96&amp;email=vovakotov9797%40mail.ru&amp;name=%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80%20%D0%9A%D0%BE%D1%82%D0%BE%D0%B2 2x" width="48" height="48" alt=""> 
                        <span class="image fallback ahh__aedc__1v84nv1 hide"></span>
                    </div> 
                    <div class="account-wrapper ahh__aedc__vpo9ng">
                        <div class="account-container ahh__aedc__vpo9ng">
                            <div class="account__name ahh__aedc__vpo9ng">Владимир Котов</div> 
                            <div class="account__email ahh__aedc__vpo9ng">vovakotov9797@mail.ru</div>
                        </div>
                    </div>
                </div>
                <div class="user__dropdown ahh__aedc__vpo9ng">
                    <div class="user__dropdown__icon ahh__aedc__vpo9ng">
                        <svg height="20" width="20"><use xlink:href="#dropdown_20.svg?sprite">

                        </use>
                    </svg>
                </div>
            </div> 
        </div> 
    </div>
</div>
{% endblock %}